**/layoutlmv3-finetuned-nfe/
*.bin
*.pt
*.pth

venv/
.venv/
env/
__pycache__/
*.pyc

nfes/
pdfs_gerados/
dataset_generation/output/
inference/temp_batch_process/
inference/documentos_entrada/
inference/Documentos_entrada/
*.arrow

.vscode/
.idea/
.DS_Store
Thumbs.db

.streamlit/secrets.toml